.avatar {
  .body {
    display: grid;
    grid-template-columns: 55.27% 44.73%;
    .left {
      width: calc(330 / 16) + rem;
      margin-left: calc(100 / 16) + rem;
      overflow-y: scroll;
      margin-top: 60px;
      .welcome {
        .step {
          margin-bottom: 20px;
          font-weight: 400;
          font-size: 14px;
          line-height: 21px;
        }
        .text {
          font-weight: 500;
          line-height: 33px;
          font-size: 22px;
          width: 245px;
          margin-bottom: 20px;
          color: #00354f;
        }
        .textSmall {
          width: 266px;
          font-size: 14px;
          line-height: 21px;
          font-weight: 400;
          margin-bottom: 20px;
        }
      }
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
      /* Hide scrollbar for Chrome, Safari and Opera */
      &::-webkit-scrollbar {
        display: none;
      }
      .form {
        .avatarForm {
          input[type="submit"] {
            display: block;
            width: calc(120 / 16) + rem;
            height: calc(59 / 16) + rem;
            border-radius: 10px;
            background-color: #343a40;
            border: 1px solid #343a40;
            padding: 0;
            color: #fff;
            font-weight: 500;
            font-size: calc(14 / 16) + em;
            line-height: 21px;
            &:hover {
              background-color: #6b9080;
              border: 1px solid #6b9080;
            }
          }
        }
        .buttons {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-top: 30px;
          .backButton {
            border: none;
            background-color: #fff;
            margin-left: 10px;
            color: #00354f;
            font-size: 14px;
            line-height: 21px;
            text-align: left;
          }
        }
      }
    }
    .right {
      position: sticky;
      top: 85px;
      height: calc(100vh - 85px - 26px);
      background: linear-gradient(
        258.09deg,
        #ea1869 7.64%,
        #d72e7e 45.19%,
        #c04897 91.99%
      );
      .liveChat {
        position: absolute;
        right: 50px;
        bottom: 27px;
        cursor: pointer;
      }
    }
  }
}
