.connectionModule {
  max-width: 1280px;
  margin: auto;
  padding: 0 10px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 100%;
  width: 100%;

  .sideNav,
  .content {
    padding-top: 50px;
  }

  .sideNav {
    border-right: solid 1px #e3e6ea;
  }
  .content {
    padding-left: 20px;
  }
  .rightSide {
    padding-top: 50px;
    margin-left: 50px;
  }
  .searchField {
    display: flex;
  }
  .searchInput {
    display: flex;
    border: 0.5px solid lightgray;
    padding: 5px 0;
    border-radius: 5px;
    width: 50%;
    align-items: center;
  }
  .sortBy,
  .filter {
    margin-left: 100px;
    display: flex;
    border: 0.5px solid lightgray;
    align-items: center;
    padding: 5px 5px;
    cursor: pointer;
    background-color: lightgray;
    border-radius: 5px;
  }
  .mentor1 {
    display: flex;
    justify-content: space-between;
  }
  .mentor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0.5px solid lightgray;
    width: 300px;
    margin-top: 50px;
    padding: 75px 10px;
    border-radius: 10px;
  }
  .butt {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: black;
    color: white;
  }
  .img {
    align-items: flex-end;
  }
}
