// colors
$color-blue-10: rgb(84, 18, 220);
$color-green-10: rgb(112, 173, 71);
$color-yellow-10: rgb(255, 176, 0);
$color-purple-10: rgb(108, 0, 202);
$color-red-10: rgb(192, 0, 0);
$color-white-10: rgb(255, 255, 255);
$color-black-10: rgb(0, 0, 0);
$color-neutral-10: transparent;
$color-orange-10: rgb(237, 125, 49);
$color-gray-10: rgb(127, 127, 127);
$color-gray-15: rgb(38, 38, 38);
$color-gray-20: rgb(89, 89, 89);
$color-gray-25: rgb(166, 166, 166);
$color-gray-30: rgb(191, 191, 191);
$color-gray-40: rgb(217, 217, 217);
$color-gray-50: rgb(242, 242, 242);
$color-bg-active: #e9edf2;

$disabled-text-color: #d3d3d3;
$color-disabled: rgba(255, 255, 255, 0.4);
$color-gray-border: #dcdcdc;

$color-button-active: #cecece;
$color-danger-text: #f03e08;
$color-info-text: #b5b5b5;

//theme
$color-background: #f8f6f1;
$color-bg-white: #ffffff;
$color-new: #a3d0da;
$color-new-10: #dbecf0;

// Basic units and Spacers
$spacer-xs: 4px;
$spacer-sm: 8px;
$spacer-md: 16px;
$spacer-lg: 24px;
$spacer-xl: 48px;
$spacer-xxl: 96px;
$oneRemPxCount: 16;

$small: 300px;
$medium: 900px;
$large: 1024px;

$font-size-normal: 16px;
$font-size-large: 20px;
$font-size-x-large: 30px;
$font-size-small: 14px;
$font-line-height-small: 20px;

$padding-normal: 16px;
$padding-normal-half: 8px;
$padding-medium: 12px;
$padding-large: 30px;

$marging-normal: 16px;
$marging-normal-half: 8px;
$margin-small: 4px;
$border-radius: 8px;
$border-radius-half: 4px;
$border-width: 2px;
$border-color: $color-gray-border;
$button-border-radius: 4px;

$card-header-font-size: 18px;
$card-header-height: 20px; //height-30px

//Font Config
$font-family-text: Roboto, "Helvetica Neue", sans-serif;
$base-font-size: $font-size-normal;
$font-size-lg: 18px;
$font-size-sm: 0.875rem;
$font-size-xlg: 30px;
$font-size-xs: 0.75rem;
$font-size: $font-size-normal;

$font-weight-thin: 200;
$font-weight-light: 300;
$font-weight-normal: 500;
$font-weight-bold: 600;
$font-weight-bolder: 700;
$font-weight-ultra-bold: 800;
$text-paragraph-font-size: $font-size-normal;
$text-heading-6-font-size: 28px;
$text-heading-6-font-weight: $font-weight-normal;
$link-text-color: $color-black;

$inner-radius: 4px;
$line-height: 20px;
$linear-gradient: none;
$margin-for-footer: 0;
$margin: 1.5rem;
$padding: 1.25rem;
$radial-gradient: none;
$radius: 0.375rem;
$scrollbar-width: 5px;
$shadow-black: 0 2px 12px #979ba3;
$shadow: 0 2px 12px 0 #dfe3eb;
