// mentor css code here

.mentorMain {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;

  .dropDownItems {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;

    .searchbtn {
      width: 380px;
      height: 40px;
      top: 177px;
      left: 115px;
      border-radius: 10px;
      margin-left: 10px;
      background: #ffffff;
      border: 1px solid #c4c4c4;

      .searchIcon {
        margin: 0;
        padding: 0;
        color: #077f7f;
        width: 19px;
        height: 19px;
        margin-left: 40px;
      }
    }

    .searchbtn input {
      height: 35px;
      width: 300px;
      border-style: none;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 500;
      font-size: 13px;
      line-height: 20px;
      color: #c4c4c4;
      border-radius: 10px;
      outline: none;
    }
    .searchbtn input::placeholder {
      height: 20px;
      width: 247px;
      left: 164px;
      top: 187px;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 500;
      font-size: 13px;
      line-height: 20px;
      color: #c4c4c4;
    }
  }
  select,
  option {
    height: 40px;
    width: 170px;
    background: #ffffff;
    border: 1px solid #c4c4c4;
    border-radius: 10px;
    margin-left: 10px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    color: #00354f;
    padding: 0 10px;
  }
  select,
  option:focus {
    outline: none;
  }

  .container {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // display: flex;
    // flex-direction: row;
    // align-items: center;
    // justify-content: space-around;
    // flex-wrap: wrap;
    margin-bottom: 40px;

    .itemWrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      flex-wrap: wrap;

      .item {
        margin-top: 20px;
        position: relative;

        img {
          width: 265px;
          height: 364px;
          border-radius: 15px;
          opacity: 0.9;
        }
        .messagesIconContainer {
          width: 40px;
          height: 24px;
          top: 20px;
          left: 172px;
          padding: 5px;
          position: absolute;
          color: black;
          background-color: rgb(255, 255, 255);
          border-radius: 5px;
          display: flex;
          align-items: center;

          .messagesIcon {
            font-size: 18px;
          }
          span {
            font-family: "Poppins";
            font-style: normal;
            font-weight: 600;
            font-size: 10px;
            line-height: 15px;
            color: #00354f;
          }
        }
        .favoriteIcon {
          margin-left: 10px;
          color: #ffffff;
        }
        h3 {
          top: 253px;
          left: 15px;
          position: absolute;
          font-family: "Poppins";
          font-style: normal;
          font-weight: 700;
          font-size: 12px;
          line-height: 18px;
          color: #ffffff;

          span {
            font-family: "Poppins";
            font-style: normal;
            font-weight: 700;
            font-size: 12px;
            line-height: 18px;
            color: #ffffff;
          }
        }
        h4 {
          position: absolute;
          top: 270px;
          left: 15px;

          font-family: "Poppins";
          font-style: normal;
          font-weight: 700;
          font-size: 12px;
          line-height: 18px;
          color: #ffffff;
        }
        .workContainer {
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          left: 15px;
          top: 43%;
          bottom: -25%;

          .workIcon {
            color: #ffffff;
            font-size: 14px;
            align-items: center;
          }

          h6 {
            font-family: "Poppins";
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
            padding-left: 5px;
            color: #ffffff;
            align-items: center;
            margin: 0;
          }
        }

        .interestContainer {
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          left: 15px;
          top: 46%;
          bottom: -30%;

          .interestIcon {
            color: #ffffff;
            font-size: 14px;
          }
          h6 {
            font-family: "Poppins";
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
            color: #ffffff;
            padding-left: 5px;
            margin: 0;
          }
        }
      }
    }
    button {
      width: 219px;
      height: 53px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 600;
      font-size: 13px;
      line-height: 20px;
      color: #ffffff;
      background: #00354f;
      border-radius: 10px;
      margin-top: 20px;
      border: none;
      cursor: pointer;
    }
  }
  .mentorsFooterWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left {
      display: flex;
      justify-content: center;
      align-items: center;

      .mentorsFooterLogo {
        width: 40px;
        height: 40px;
      }

      p {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 500;
        font-size: 11px;
        line-height: 16px;
        color: rgba(0, 53, 79, 0.5);
        margin: 0;
      }
    }
    .right {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .socialIconContainer {
        width: 25px;
        height: 25px;
        margin: 0 5px;
        background: #00354f;
        color: #ffffff;
        border-radius: 50%;

        .Icon {
          transform: scale(0.8);
          margin: 0;
        }
      }
    }
  }
  hr {
    width: 100%;
    height: 0px;
    border: 1px solid rgba(0, 53, 79, 0.1);
  }
  .mentorsFooterWrapper2 {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left2 {
      display: flex;
      align-items: center;
      justify-content: space-around;

      p {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 18px;
        color: #00354f;
      }
    }
    .right2 {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }

  .mentorsFooterWrapper3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .left3 {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    .right3 {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }
}
