.header {
  margin-left: (101/16) + rem;
  background-color: #fff;
  svg {
    margin: 12px 10px 14px 0;
  }
  .title {
    font-size: 600;
    font-size: 20px;
    line-height: 30px;
    color: #00354f;
  }
}
