.app {
  height: 100%;
  position: relative;
  .header {
    top: 0;
    border-bottom: 1px solid lightgray;
  }
  .notFound {
    text-align: center;
    margin: 20px 0;
  }

  .footer {
    text-align: center;
  }

  .protected {
    display: grid;
    height: 100%;
    grid-template-rows: auto 1fr;
  }
}
